<p id="notice"><%= notice %></p>
<div class="P_Tour">

<p>
  <strong>Address:</strong>
  <%= @point.address %>
</p>

<%= link_to 'Редактировать', edit_point_path(@point) %> |
<%= link_to 'Назад', points_path %>

</div>
