
.M_DropDown {

  padding-top: 14px;



.dropbtn {
    background-color: #fff;
    padding: 10px 16px;
    font-size: 14px;
    border-color: #964DC3;
    border-width: thin;
    cursor: pointer;
    border-radius: 64px;
    display: flex;
    flex-direction: row;

    &:hover {
      opacity: 80%;
    }

}

a {
  line-height: 34px;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    margin-left: -130px;
    margin-top: 20px;
    background-color: #fff;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    border-radius: 12px;
    padding: 13px;

}

.dropdown-content {
  padding: 0px 10px 0px;
}

.dropdown-content li {
    color: black;
    margin: 18px 15px 10px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content li:hover {
  color: #ddd
}

.A_Button:hover {
opacity: 80%;
color: #fff;
}

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {
  display:block;
}

.Out {
    font-family: "Manrope-Regular", sans-serif;
  }

 .A_Button {
   padding: 8px 20px;

 }
}
