.O_Footer {
  font-family: "Manrope-Regular", sans-serif;
  font-size: 14px;
  box-sizing: border-box;
  padding: 0 79px;
  background: white;
  color: #000;


  a {

    line-height: 62px;
    color: #000000;
    text-decoration: none;
  }

  a:hover{
    opacity: 80%;
  }

  left: 0%;
  right: 0%;
  top: 0%;

  background: #FFFFFF;

  display: flex;
  flex-direction: row;

  justify-content: space-between;

  .A_Link {
    color: #6900AA;
    font-size: 24px;
    &:hover{
      opacity: 70%;

    }
  }

}
