// .O_Tours {
//   width: 1300px;
//   // margin: 0 auto;
//   margin-top: 42px;
//   display: flex;
// flex-direction: row;
// // justify-content: space-between;
//  // grid-template-columns: 1fr 1fr 1fr 1fr;
//   // grid-template-rows: auto;
//
//   .M_TourCard {
//     margin-bottom: 50px;
//     display: flex;
//     flex-direction: column;
//   }
//
// }

.O_Tours {
  // width: 1342px;
  margin-top: 30px;
  display: grid;
  grid-template-columns: 1fr  1fr 1fr;
  grid-template-rows: auto;

  .M_TourCard  {
    margin-bottom: 50px;
  }
}
