<p id="notice"><%= notice %></p>

<div class="P_Landing">
  <section class="firstScreen">
    <div class="firstScreenText">
      <h1 class="A_H1">Ты можешь смотреть на мир<br>с разных сторон</h1>
      <p class="A_P3">Путешестововать интересней c приложением Jay —<br>с настоящими историями о событиях,<br>местах и людях</p>
    </div>
    <div class="M_LandButtons">
      <div class="A_Button">
        <a href="#">скачать приложение</a>
      </div>
      <div class="More">
        <a href="#">читать подробнее</a>
      </div>
    </div>
  </section>
  </div>

  <div class="P_MainTours">
  <%= render 'application/tourlist' %>
</div>

<%= render 'application/footer' %>
