<p id="notice"><%= notice %></p>

<div class="P_Cities">

  <div class="P_MainTours">

    <h1 class="A_H1">Топ городов</h1>
    <%= render 'application/citylist' %>


  </div>
</div>

<%= render 'application/footer' %>
