<div class="P_Tour">

<p id="notice"><%= notice %></p>

<div class="A_H1">

  <%= @city.name %>
</div>

<p>
  <strong>Маршруты:</strong>
</p>
<% @city.tours.each do |tour| %>
<p>
    <td><%= link_to tour.title, tour_path(tour) %></td>
</p>
<% end %>



</div>
