@font-face {
  font-family: "Manrope-Bold";

  src: url("fonts/Manrope-Bold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope-ExtraBold";

  src: url("fonts/Manrope-ExtraBold.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope-Regular";

  src: url("fonts/Manrope-Regular.woff2") format("woff2");
}

@font-face {
  font-family: "Manrope-SemiBold";

  src: url("fonts/Manrope-SemiBold.woff2") format("woff2");
}
