<div class="Foot">
  <hr>
  <div class="O_Footer">
   <div class="M_Footer">
     <p>© 2020 Jay. Прогулки по всему миру</p>
     <%= link_to 'About', abouts_path%>
     <a href="#">Условия</a>
     <a href="#">Контакты</a>
   </div>

   <div class="A_Social">
     <div class="Q_SocialFb"></div>
     <div class="Q_SocialVk"></div>
     <div class="Q_SocialInst"></div>

   </div>

  </div>
</div>
