<p id="notice"><%= notice %></p>
<div class="P_MainTours">
  <div class="A_H1">
    <h1>Лучшие места</h1>
  </div>

  <th colspan="3"></th>

  <tbody>
    <% @places.each do |place| %>
      <tr>
        <td><%= link_to "#{place.title}", place %></td>
        <td><%= link_to 'Ред.', edit_place_path(place) %></td>
      </tr>
    <% end %>
  </tbody>


<br>


</div>
